
<h3 class="user-name" style="padding-top: 40px;">Hi <%= current_user.first_name.capitalize %>! </h3>
<p class="user-info">These are your Cars:</p>


<% @cars.each do |car| %>
  <div class="card-product">
    <%= cl_image_tag car.photos[0].key %>
    <div class="card-product-infos">
      <h2><%= car.brand %> - <%= car.model %></h2>
      <p><%= car.description %></p>
      <%= link_to "Edit", edit_car_path(car) %>
      -
      <%= link_to "Delete", car_path(car), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
<% end %>

<h3 class="user-name" style="padding-top: 40px;">Your Bookings:</h3>

<% @your_bookings.each do |your_booking| %>
  <div class="card-product">
    <%= cl_image_tag your_booking.car.photos[0].key %>
    <div class="card-product-infos">
      <h2><%= your_booking.car.brand %> - <%= your_booking.car.model %></h2>
      <p>Start date: <%= your_booking.start_date %></p>
      <p>End date: <%= your_booking.end_date %></p>
      <p><%= your_booking.car.description %></p>
      <%= link_to "Edit Booking", edit_booking_path(your_booking) %>
      -
      <%= link_to "Delete Booking", booking_path(your_booking), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
<% end %>

<h3 class="user-name" style="padding-top: 40px;">Incoming bookings on your cars:</h3>

<% @incoming_bookings.each do |booking| %>
  <div class="card-product">
    <%= cl_image_tag booking.car.photos[0].key %>
    <div class="card-product-infos">
      <h2>Booked by: <%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %></h2>
      <h2><%= booking.car.brand %> - <%= booking.car.model %></h2>
      <h2> <%= booking.total_price %> </h2>
      <p>Start date: <%= booking.start_date %></p>
      <p>End date: <%= booking.end_date %></p>
      <%= link_to "Edit", edit_booking_path(booking) %>
      -
      <%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
<% end %>
