<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
        <h2>Log in</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <p style="text-align">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
                          <br>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

            <%= f.button :submit, "Log in", class: "btn btn-block btn-primary ml-8 btn-warning" %>
          <% end %>
           </div>
          <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


