<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h1>Edit your car</h1>

      <%= simple_form_for(@car) do |f| %>
        <%= f.error_notification %>
        <%= f.input :brand %>
        <%= f.input :model %>
        <%= f.input :year %>
        <%= f.input :price, :label => "Price per day"  %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.submit class: 'btn-flat' %>
      <% end %>

    </div>
  </div>
</div>

