<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
<%= simple_form_for(@car) do |f| %>
  <div class="center">
  <%= f.input :brand %>
  <%= f.input :model %>
  <%= f.input :year %>
  <%= f.input :price, :label => "Price per day"  %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit class: "btn btn-block btn-primary ml-8 btn-warning" %>
  <br>
  <br>


<% end %>
</div>
</div>
</div>
